@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.content {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.product_form form {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.product_form input {
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.product_form button {
    padding: 5px 10px;
}

.product {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: bisque;
    border-radius: 5px;
}